snippet func "Create a simple function."
func $1() {
	$2
}
endsnippet

snippet /** "Creates a comment block." b
/**
 * $1
 */
endsnippet

snippet /* "Creates a comment block." b
/**
 * $1
 */
endsnippet
